// Theme Colors
$color-alto: #d7d7d7;
$color-aqua-deep: #005c42;
$color-black: #000;
$color-bright-red: #a90000;
$color-dusty-gray: #979797;
$color-mtb-green: #007856;
$color-peach: #ffe8b2;
$color-silver: #bababa;
$color-silver-chalice: #a5a5a5;
$color-white: #fff;

// Specific Colors
$button-color: $color-alto;
$button-emphasis-color: $color-mtb-green;
$button-hover-color: $color-silver;
$button-hover-emphasis-color: $color-aqua-deep;
$button-text-color: $color-black;
$button-text-color-emphasis: $color-white;
$dialog-border-color: $color-dusty-gray;
$dialog-color: $color-white;
$dialog-heading-background-color: $color-mtb-green;
$dialog-heading-text-color: $color-white;
$dialog-overlay-color: $color-black;
$field-border-color: $color-silver-chalice;
$footer-link-border-color: $color-dusty-gray;
$header-color: $color-mtb-green;
$header-text-color: $color-white;
$link-color: $color-mtb-green;
$main-error-text-color: $color-mtb-green;
$password-requirements-emphasis-color: $color-bright-red;
$text-color: $color-black;