$spacing-tiny: .2rem;
$spacing-xxxxsmall: .5rem;
$spacing-xxxsmall: .75rem;
$spacing-xxsmall: 1rem;
$spacing-xsmall: 1.5rem;
$spacing-small: 2rem;
$spacing-medium: 2.5rem;
$spacing-large: 3rem;
$spacing-xlarge: 3.5rem;
$spacing-xxlarge: 4rem;
$spacing-xxxlarge: 5rem;
$spacing-jumbo: 10rem;

$button-height: $spacing-xxlarge;
$button-spacing: $spacing-xlarge;
$button-wrapper-top-margin: $spacing-xlarge;
$button-wrapper-post-text-margin-top: $spacing-xlarge;
$content-gutter-at-medium: $spacing-medium;
$content-margin-vertical: $spacing-xxxlarge;
$dialog-button-margin-bottom: $spacing-xsmall;
$dialog-button-margin-top: $spacing-xxxxsmall;
$dialog-button-padding-horizontal: $spacing-xxlarge;
$dialog-button-padding-vertical: $spacing-xxxxsmall;
$dialog-button-spacing: $spacing-jumbo;
$dialog-padding: $spacing-small;
$field-error-text-padding-left: $spacing-xlarge;
$field-error-text-padding-vertical: $spacing-xxxsmall;
$field-hint-margin-vertical: $spacing-xxxxsmall;
$field-label-indent: $spacing-tiny;
$field-margin-vertical: $spacing-xlarge;
$field-padding-horizontal: $spacing-xxxxsmall;
$footer-link-padding-horizontal: $spacing-medium;
$footer-margin-bottom: $spacing-xsmall;
$h1-margin-bottom: $spacing-xxxxsmall;
$header-error-text-padding-left: $spacing-large;
$header-error-text-padding-vertical: $spacing-xsmall;
$header-padding-horizontal: $spacing-xlarge;
$header-padding-vertical: $spacing-xsmall;
$header-padding-bottom-at-medium: $spacing-xxxxsmall;
$header-padding-top-at-medium: $spacing-xxxsmall;
$header-text-spacing: $spacing-xsmall;
$label-margin-bottom: $spacing-xxxxsmall;
$list-indent: $spacing-xxxxsmall;
$paragraph-margin-top: $spacing-xxsmall;
$radio-label-spacing: $spacing-xxxxsmall;
$radio-margin-vertical: $spacing-xxxxsmall;
$main-message-margin-bottom: $spacing-xsmall;
$main-message-subheading-margin-bottom: $spacing-xxxxsmall;
$main-message-subheading-margin-top: $spacing-small;
$password-requirements-list-item-indent: $spacing-small;

$border-radius: 2px;