.password-requirements {
	list-style: none;

	li {
		background: url(../img/asterisk.png) no-repeat left 2px;
		background-size: 11px;
		padding-left: $password-requirements-list-item-indent;
	}

	.fulfilled {
		background: url(../img/success.png) no-repeat left 4px;
		background-size: 12px;
	}

	.emphasis {
		background-image: url(../img/asterisk-emphasis.png);
		color: $password-requirements-emphasis-color;
	}
}